<div class="page-title page-title--page">
  <h1 class="text text-5 text--small">{{.pageTitle}}</h1>
  <h1 class="text text-4 text--small">{{.pageTitle}}</h1>
  <h1 class="text text-3 text--small">{{.pageTitle}}</h1>
  <h1 class="text text-2 text--small">{{.pageTitle}}</h1>
  <h1 class="text text-1 text--small">{{.pageTitle}}</h1>
  <h1 class="text text-0 text--small">{{.pageTitle}}</h1>
</div>