<div class="page-title">
  <div class="img-wrapper">
    <img src="./assets/img/dot-text.jpg" alt="">
  </div>
  <div class="img-wrapper">
    <img src="./assets/img/mock.png" alt="">
  </div>
  <h1 class="text text-5">{{.pageTitle}}</h1>
  <h1 class="text text-4">{{.pageTitle}}</h1>
  <h1 class="text text-3">{{.pageTitle}}</h1>
  <h1 class="text text-2">{{.pageTitle}}</h1>
  <h1 class="text text-1">{{.pageTitle}}</h1>
  <h1 class="text text-0">{{.pageTitle}}</h1>
</div>